@import "frameworks/mixin";
@import "frameworks/reset";
@import "configs/colors";
@import "configs/fonts";
@import "contents/buttons";
@import "contents/lists";
@import "contents/navbars";
@import "contents/panels";
@import "contents/tables";
@import "frameworks/form";
@import "frameworks/responsive";
@import "frameworks/grid";

body,
html {
  font-family: $font;
  margin: 0;
  background-color: #f9f9f9;
}
