.sidebar {
  position: fixed;
  background-color: $primary-color;
  height: 100%;
  width: 260px;
  left: -260px;
  z-index: 2;
  transition: transform 0.2s;

  &__profile {
    padding: 5px;
    margin: 5px 0;
    color: $alt-font-color;

    &.--img {
      background-color: $default-bg-color;
      float: left;
      margin-right: 20px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }

    &.--detail {
      padding: 5px;
      margin-top: 5px;
    }

    &__hide-info {
      margin-left: 15px;
      display: none;
    }

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  &__nav {
    margin-top: 20px;
    margin-bottom: 20px;

    &__sub-menu {
      display: none;
      list-style: none;

      &.--block {
        display: block;
      }
    }
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 20px;
    color: $alt-font-color;
  }

  &__link {
    padding: 20px;
    font-size: 17px;
    display: block;
    text-decoration: none;
    @include color($alt-font-color,$primary-color);

    &.--active {
      @include color($primary-color,$alt-font-color);
    }

    &.--info {
      font-size: 15px;
      display: inline;
      margin: 0;
      padding: 0;
      cursor: pointer;
      text-decoration: underline;
    }

    &.--sub-link {
      padding: 15px 15px 15px 40px;
      font-size: 15px;
    }
  }

  &.--show {
    transform: translate(260px);
  }
}

.topbar {
  width: 100vw;
  height: 50px;
  background-color: $default-bg-color;
  border-bottom: 1px solid $default-border-color;
  top: 0;
  position: fixed;
  z-index: 1;

  &__nav {
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 10px;
    float: left;
    line-height: 29px;
    @include color($primary-color,$default-bg-color);

    &.--title {
      font-size: 20px;
    }

    &.--active {
      box-shadow: inset 0 -3px 0 0 $primary-color;
    }

    &.--default {}

    &.--toggle {
      margin-right: 15px;
      cursor: pointer;
      display: block;
    }

    &.--system{
      display: none;
    }
  }
}
