/*-----------themes-------------*/
$primary-color: #5d9ffc;
$default-color: #cccccc;

/*-----------background-------------*/
$default-bg-color: #ffffff;
$alt-bg-color: #f2f2f2;

/*-----------font-------------*/
$default-font-color: #000000;
$alt-font-color: #ffffff;
$content-font-color: #555555;

/*------------border------------*/
$default-border-color: #dddddd;
